{% extends 'window.html.twig' %}
{% trans_default_domain 'application' %}

{% block title %}App settings | Mocker{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('admin') }}
{% endblock %}

{% block top_button %}
    <a class="topbar__switch" href="{{ url('app_index') }}">
        <span class="fas fa-chevron-left fa-fw"></span>
        {% trans %}application.window.screenSwitch.backToApp{% endtrans %}
    </a>
{% endblock %}

{% block window %}
    {% trans_default_domain 'application' %}
    <div class="settings">
        <div class="settings__column">
            <h1 class="settings__title">
                <span class="fas fa-cog fa-fw"></span>
                {% trans %}application.settings.title{% endtrans %}
            </h1>
            <section class="settings__section">
                <h2 class="settings__subtitle">
                    <span class="fas fa-chevron-right fa-fw settings__section-icon"></span>
                    Appearance
                </h2>
                <p class="settings__content">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A animi asperiores atque beatae corporis
                    eius, eos eum ex illum ipsam ipsum itaque, molestias nisi quasi reiciendis sit suscipit temporibus
                    vero?
                </p>
                <div class="theme-select">
                    {% for current in ['light', 'dark', 'darkest'] %}
                        {% if current == config.get.theme %}
                            <span data-theme="{{ current }}" class="theme-select__button theme-select__button--active">
                                {{ current|capitalize }}
                            </span>
                        {% else %}
                            <a href="{{ url('app_settings_theme-change', {'themeName': current}) }}"
                               data-theme="{{ current }}" class="theme-select__button">
                                {{ current|capitalize }}
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>
            </section>

            <section class="settings__section">
                <h2 class="settings__subtitle">
                    <span class="fas fa-chevron-right fa-fw settings__section-icon"></span>
                    Data import &amp; export
                </h2>
                <p class="settings__content">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A animi asperiores atque beatae corporis
                    eius, eos eum ex illum ipsam ipsum itaque, molestias nisi quasi reiciendis sit suscipit temporibus
                    vero?
                </p>
                <button class="settings__button">
                    <span class="fas fa-file-import fa-fw"></span>
                    Import data from file
                </button>
                <p class="settings__content">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A animi asperiores atque beatae corporis
                    eius, eos eum ex illum ipsam ipsum itaque, molestias nisi quasi reiciendis sit suscipit temporibus
                    vero?
                </p>
                <button class="settings__button">
                    <span class="fas fa-file-export fa-fw"></span>
                    Export data to file
                </button>
            </section>
        </div>
        <div class="settings__divider"></div>
        <div class="settings__column">
            <h1 class="settings__title">
                <span class="fas fa-info fa-fw"></span>
                {% trans %}application.info.title{% endtrans %}
            </h1>
            {% include 'admin/component/_about-an-app.html.twig' %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('admin') }}
{% endblock %}