{% extends 'window.html.twig' %}
{% trans_default_domain 'settings' %}

{% block title %}{{ 'settings.page-title'|trans }} | Mocker{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('admin') }}
{% endblock %}

{% block top_button %}
    <a class="topbar__switch" href="{{ url('app_index') }}">
        <span class="fas fa-chevron-left fa-fw"></span>
        {{ 'application.window.screenSwitch.backToApp'|trans({}, 'application') }}
    </a>
{% endblock %}

{% block window %}
    {% trans_default_domain 'settings' %}
    <div class="settings">
        <div class="settings__column">
            <h1 class="settings__title">
                <span class="fas fa-cog fa-fw"></span>
                {% trans %}settings.title{% endtrans %}
            </h1>
            <section class="settings__section">
                <h2 class="settings__subtitle">
                    <span class="fas fa-chevron-right fa-fw settings__section-icon"></span>
                    {{ 'settings.categories.appearance.title'|trans }}
                </h2>
                <p class="settings__content">
                    {{ 'settings.categories.appearance.description'|trans }}
                </p>
                <div class="theme-select">
                    {% for current in ['light', 'dark', 'darkest'] %}
                        {% if current == config.get.theme %}
                            <span data-theme="{{ current }}" class="theme-select__button theme-select__button--active">
                                {{ ('settings.categories.appearance.options.'~current)|trans|capitalize }}
                            </span>
                        {% else %}
                            <a href="{{ url('app_settings_theme-change', {'themeName': current}) }}"
                               data-theme="{{ current }}" class="theme-select__button">
                                {{ ('settings.categories.appearance.options.'~current)|trans|capitalize }}
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>
            </section>

            <section class="settings__section">
                <h2 class="settings__subtitle">
                    <span class="fas fa-chevron-right fa-fw settings__section-icon"></span>
                    {{ 'settings.categories.data-import.title'|trans }}
                </h2>
                <p class="settings__content">
                    {{ 'settings.categories.data-import.description-import'|trans }}
                </p>
                <button class="settings__button">
                    <span class="fas fa-file-import fa-fw"></span>
                    {{ 'settings.categories.data-import.button-import'|trans }}
                </button>
                <p class="settings__content">
                    {{ 'settings.categories.data-import.description-export'|trans }}
                </p>
                <button class="settings__button">
                    <span class="fas fa-file-export fa-fw"></span>
                    {{ 'settings.categories.data-import.button-export'|trans }}
                </button>
            </section>
        </div>
        <div class="settings__divider"></div>
        <div class="settings__column">
            <h1 class="settings__title">
                <span class="fas fa-info fa-fw"></span>
                {{ 'settings.categories.general-informations.title'|trans }}
            </h1>
            {% include 'admin/component/_about-an-app.html.twig' %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('admin') }}
{% endblock %}