{% trans_default_domain 'settings' %}
<div class="about">
    {% if config.get.theme== "light" %}
        <img class="about__logo" src="{{ asset('build/image/architektur-logo-dark.svg') }}" alt="Creator logo">
    {% else %}
        <img class="about__logo" src="{{ asset('build/image/architektur-logo-light.svg') }}" alt="Creator logo">
    {% endif %}
    <table class="about__data">
        <tr class="about__row">
            <td class="about__column about__column--title">
                {{ 'settings.categories.general-informations.details.version.title'|trans }}
            </td>
            <td class="about__column">{{ env.get.version }}</td>
        </tr>
        <tr class="about__row">
            <td class="about__column about__column--title">
                {{ 'settings.categories.general-informations.details.environment.title'|trans }}
            </td>
            <td class="about__column">
                {{ ('settings.categories.general-informations.details.environment.values.'~env.get.env)|trans }}
            </td>
        </tr>
        <tr class="about__row">
            <td class="about__column about__column--title">
                {{ 'settings.categories.general-informations.details.server-address.title'|trans }}
            </td>
            <td class="about__column">{{ app.request.httpHost }}</td>
        </tr>
        <tr class="about__row">
            <td class="about__column about__column--title">
                {{ 'settings.categories.general-informations.details.your-ip.title'|trans }}
            </td>
            <td class="about__column">{{ app.request.clientIp }}</td>
        </tr>
    </table>
</div>