<div class="dialog dialog--hidden" aria-hidden="true">
    <div class="dialog__background"></div>
    <div class="dialog__foreground">
        <main class="dialog__window">
            <h2 class="dialog__title">
                {% if title.icon is defined and cancel.icon is not null %}
                    <span class="fas {{ title.icon }} fa-fw dialog__icon"></span>
                {% endif %}
                {{ title.text }}
            </h2>

            {{ form_start(importForm) }}

            {% include 'form/_widget.html.twig' with {'field': importForm.file} only %}
            <button type="submit">
                <span class="fas fa-save"></span>
                {% trans %}forms.fields.save{% endtrans %}
            </button>
            {{ form_end(importForm) }}

            <div class="dialog__buttons">
                <button class="dialog__return" data-dialog-back>
                    {% if cancel.icon is defined and cancel.icon is not null %}
                        <span class="fas {{ cancel.icon }} fa-fw"></span>
                    {% endif %}
                    {{ cancel.text }}
                </button>
                <a class="dialog__proceed" href="">
                    {% if proceed.icon is defined and proceed.icon is not null %}
                        <span class="fas {{ proceed.icon }} fa-fw"></span>
                    {% endif %}
                    {{ proceed.text }}
                </a>
            </div>
        </main>
    </div>
</div>