{% trans_default_domain 'application' %}
<article class="details" data-hasCode="true">
    {% if current is not null %}

        <header class="details__top">
            <h2 class="details__title">{{ current.name }}</h2>
            <div class="details__times">
                <span class="details__timeline">
                  {% trans %}application.details.time.added{% endtrans %} {{ current.createdAt|ago }}
                </span>
                <span class="details__timeline">{{ current.createdAt.format('Y/m/d H:i' ) }}</span>
            </div>
        </header>

        <p class="details__desc">
            {{ current.description }}
        </p>
        <pre class="details__code"><code class="json details__exact-code">{{ current.content }}</code></pre>

        <div class="details__access">
            <div class="details__link">
                <button data-link="{{ host }}/{{ current.slug }}"
                        class="fas fa-copy fa-fw details__copy-icon"></button>
                <a target="_blank"
                   class="details__link-content"
                   href="{{ url('api_general', {'slug': current.slug}) }}">
                    {{ host }}/api/{{ current.slug }}
                </a>
            </div>

            <div class="details__methods">
                <span class="details__method">GET</span>
                <span class="details__method">POST</span>
                <span class="details__method">PUT</span>
                <span class="details__method">PATCH</span>
                <span class="details__method">DELETE</span>
            </div>
        </div>

        <div class="details__actions">
            <a href="{{ url('app_edit-resource', {'slug': current.slug}) }}" class="details__edit">
                <span class="fas fa-pen fa-fw"></span>
                {% trans %}application.details.buttons.edit{% endtrans %}
            </a>
            <a href="{{ url('app_resource-delete', {'slug': current.slug}) }}" class="details__delete">
                <span class="fas fa-trash fa-fw"></span>
                {% trans %}application.details.buttons.remove{% endtrans %}
            </a>
        </div>
    {% else %}
        <div class="details__no-info-container">
            <h2 class="details__no-info-title">
                {% trans %}application.details.messages.notChosen{% endtrans %}
            </h2>
        </div>
    {% endif %}
</article>